# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
djangoSource/.env.dev
djangoSource/.env.prod
.idea
__pycache__/
*/__pycache__/
.venv/
*/media/*
!media/
#.xlsx
.venv
media
*/logs/*
logs
!logs/
.env
*.iml
*.xml
db.sqlite3